<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.dao.TaskMapper">
    <insert id="insert" parameterType="com.example.demo.model.po.TaskPO" useGeneratedKeys="true" keyProperty="id">
        insert into task (title, is_completed)
        values (#{title}, #{isCompleted})
    </insert>

    <select id="findById" resultMap="TaskPO">
        select * from task where id = #{id}
    </select>

    <select id="getTaskList" resultMap="TaskPO">
        select * from task
    </select>

    <delete id="deleteById">
        delete from task where id = #{id}
    </delete>

    <update id="updateById">
        update task set is_completed = #{isCompleted} where id = #{id}
    </update>

    <resultMap id="TaskPO" type="com.example.demo.model.po.TaskPO">
        <id column="id" property="id"></id>
        <result column="title" property="title"></result>
        <result column="is_completed" property="isCompleted"></result>
    </resultMap>
</mapper>